@use '../../../styles/GlobalColor.scss' as color;

#selectBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 84px;
  height: 24px;
  border-radius: 10px;
  border: 1px solid #b3b3b3;
  background-color: color.$BABY_GRAY;
  font-size: 12px;
}

#optionBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 84px;
  height: 144px;
  border-radius: 10px;
  background-color: color.$BABY_GRAY;

  button {
    font-size: 12px;
  }
}
