@use '../../../styles/GlobalColor.scss' as color;

.textAreaWrap {
  background-color: color.$BABY_GRAY;
  border: none;
  border-radius: 5px;
  resize: none;
  outline: none;

  &.small {
    width: 260px;
    height: 35px;
    padding: 8px 12px;
  }

  &.editSmall {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    padding: 8px 12px;
  }

  &.medium {
    width: 260px;
    height: 200px;
    padding: 20px 13px;
  }

  &.large {
    width: 320px;
    height: 360px;
    padding: 20px 13px;
    line-height: 25px;
  }

  &.editLarge {
    width: 100%;
    height: 340px;
    padding: 20px 13px;
    line-height: 25px;
  }

  textAreaWrap::focus {
    outline: none;
  }
}
