@use '../../../styles/GlobalColor.scss' as color;

@keyframes toast {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 1;
    transform: translateY(20%);
  }
  100% {
    opacity: 0;
  }
}

.toastBackground {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 0;
  right: 0;
}

.toastWrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 100px;
  z-index: 10;
  background-color: color.$WHITE_GRAY;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;

  animation: toast;
  animation-duration: 1.8s;
}

.twoLineBox {
  display: flex;
  flex-direction: column;
}

.largeToastWrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 160px;
  z-index: 10;
  background-color: color.$WHITE_GRAY;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;

  p {
    padding: 8px;
  }

  p:nth-child(2) {
    color: color.$BLUE;
  }

  .buttonWrap {
    margin-top: 30px;

    button {
      width: 80px;
      height: 30px;
      margin: 0 11px;
      border-radius: 5px;
      font-size: 12px;
      font-weight: 600;
      background-color: color.$BABY_BLUE;
    }
  }
}
