@use '../../../styles/GlobalColor.scss' as color;

.navBarWrap {
  position: fixed;
  width: 375px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  background-color: color.$WHITE_GRAY;

  span {
    cursor: pointer;
  }
}

.menuContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
  width: 100%;
  height: 150px;
  background-color: color.$WHITE_GRAY;
  z-index: 5;

  ul {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
  }

  li {
    margin: 17px 0;
    cursor: pointer;
  }
}
